tensorflow==2.1.0
tensorflow-estimator==2.1.0
pandas
tensorflow_datasets
flask==1.1.2
flask_login
flask_socketio
flask_uploads==0.2.1
Werkzeug==0.16.0
flask_wtf==0.14.3
flask-dropzone==1.5.4
flask-cors==3.0.10
click==7.1.2
pymysql
sqlalchemy
requests
numpy
colorama
emoji
pyquery
